<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Воздушные шарики</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/lptabs.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/all.min.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/lptabs.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript" async></script>
</head>

<body>

    <header>
        <div class="container-fluid">
            <ul>
                <li class="active"><a href="#slideshow">Главная</a></li>
                <li><a href="#services">Чем мы занимаемся?</a></li>
                <li><a href="#portfolio">Наши работы</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#contacts">Наши контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="slideshow">
        <div class="container-fluid">
            <div class="lp-content">

                <div class="owl-carousel lp-slider1">
                    <img src="img/balloons1.jpg" alt="Воздушные шарики 1">
                    <img src="img/balloons2.jpg" alt="Воздушные шарики 2">
                    <img src="img/balloons3.jpg" alt="Воздушные шарики 3">
                    <img src="img/balloons4.jpg" alt="Воздушные шарики 4">
                    <img src="img/balloons5.jpg" alt="Воздушные шарики 5">
                    <img src="img/balloons6.jpg" alt="Воздушные шарики 6">
                </div>

            </div>
        </div>
    </section>

    <section id="services">
        <div class="container-fluid">
            <div class="lp-content">

                <h2>Чем мы занимаемся?</h2>


                <div class="our-services row">
                    <div class="col"><img src="img/icon1.png" alt="Доставка"><br>Доставляем воздушные шары по Минску и области</div>
                    <div class="col"><img src="img/icon2.png" alt="Украшение"><br>Тематически украшаем шарами праздники</div>
                    <div class="col"><img src="img/icon3.png" alt="Оформление"><br>Оформляем магазины, корпоративы, выставки</div>
                    <div class="col"><img src="img/icon4.png" alt="Обучение"><br>Проводим обучение аэродизайну</div>
                </div>


                <h4>Выбери свой праздник!</h4>

                <div class="lp-services">

                    <div title="День рождения">
                        <p class="text-center"><strong>День рождения</strong></p>
                        <img src="img/birthday.jpg" alt="День рождения">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="День рождения">Заказать</span>
                        </p>
                    </div>

                    <div title="Детям">
                        <p class="text-center"><strong>Детям</strong></p>
                        <img src="img/for_children.jpg" alt="Детям">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Детям">Заказать</span>
                        </p>
                    </div>

                    <div title="Выписка из роддома">
                        <p class="text-center"><strong>Выписка из роддома</strong></p>
                        <img src="img/newborn.jpg" alt="Выписка из роддома">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Выписка из роддома">Заказать</span>
                        </p>
                    </div>

                    <div title="Облака шаров">
                        <p class="text-center"><strong>Облака шаров</strong></p>
                        <img src="img/clowds.jpg" alt="Облака шаров">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Облака шаров">Заказать</span>
                        </p>
                    </div>

                    <div title="Влюбленным">
                        <p class="text-center"><strong>Влюбленным</strong></p>
                        <img src="img/for_lovers.jpg" alt="Влюбленным">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Влюбленным">Заказать</span>
                        </p>
                    </div>

                    <div title="Светящиеся шары">
                        <p class="text-center"><strong>Светящиеся шары</strong></p>
                        <img src="img/glowing.jpg" alt="Светящиеся шары">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Светящиеся шары">Заказать</span>
                        </p>
                    </div>

                    <div title="Шары для фотосессий">
                        <p class="text-center"><strong>Шары для фотосессий</strong></p>
                        <img src="img/photosession.jpg" alt="Шары для фотосессий">
                        <p class="text-center">
                            <span class="lp-fb1-link btn btn-primary" data-label="Шары для фотосессий">Заказать</span>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container-fluid">
            <div class="lp-content">
                <h2>Наши работы</h2>
                <div class="owl-carousel lp-slider2 lp-gallery">

                    <a href="img/portfolio/1.jpg">
                        <img src="img/portfolio/1.jpg" alt="Воздушные шары 1">
                    </a>

                    <a href="img/portfolio/2.jpg">
                        <img src="img/portfolio/2.jpg" alt="Воздушные шары 2">
                    </a>
                    <a href="img/portfolio/3.jpg">
                        <img src="img/portfolio/3.jpg" alt="Воздушные шары 3">
                    </a>
                    <a href="img/portfolio/4.jpg">
                        <img src="img/portfolio/4.jpg" alt="Воздушные шары 4">
                    </a>
                    <a href="img/portfolio/5.jpg">
                        <img src="img/portfolio/5.jpg" alt="Воздушные шары 5">
                    </a>
                    <a href="img/portfolio/6.jpg">
                        <img src="img/portfolio/6.jpg" alt="Воздушные шары 6">
                    </a>
                    <a href="img/portfolio/7.jpg">
                        <img src="img/portfolio/7.jpg" alt="Воздушные шары 7">
                    </a>
                    <a href="img/portfolio/7.jpg">
                        <img src="img/portfolio/1.jpg" alt="Воздушные шары 8">
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section id="prices" ng-app="lpApp" ng-controller="lpPriceCtrl">
        <div class="container-fluid">
            <div class="lp-content">
                <h2>Цены</h2>

                <p ng-hide="prices || reqStatus || reqStatusText" class="lp-prices-loader">
                    <i class="fas fa-spinner"></i>
                </p>

                <table ng-show="prices" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th>Изображение</th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <span>{{ price.name }}</span>
                                <i class="fas fa-tag" ng-show="price.discount"></i>
                            </td>
                            <td>
                                <img ng-src="{{price.image}}" style="width: 100px">
                            </td>
                            <td>{{ price.price | currency }}</td>
                            <td>
                                <span ng-show="price.discount">{{ price.discount * 100 | number:0 }}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{ price.price2 | currency }}</td>

                        </tr>
                    </tbody>

                </table>

                <p ng-show="reqStatus || reqStatusText" class="alert alert-danger">При загрузке данных произошла ошибка {{reqStatus}} {{reqStatusText}}</p>

            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container-fluid">
            <div class="lp-content">
                <h2>Наши контакты</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-sm-6">

                        <div id="lp-fb2">
                            <h4>Обратная связь</h4>
                            <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
                            <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" name="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" name="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Отправить</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <p>© Воздушные шарики 2019</p>
        </div>
    </footer>

    <div id="lp-fb1">
        <h2>Заказать консультацию</h2>
        <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
        <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
        <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
        <button>Перезвоните мне</button>
    </div>
    
    

</body>

</html>
